; sportyeah

;
; @author Jogeiker <jogeiker1999@gmail.com>
; @copyright 2020 Retail Servicios Externos SL
; @site https://www.sportyeah.com 
;

; Configuración de la aplicacicón
[app]

; El nombre de la aplicación
name=sportyeah

; Url de la aplicación
url=www.sportyeah.com

; El contacto administrativo
;admin=mikel@retailexternal.com
;admin=jogeiker1999@gmail.com
admin=dsalazar446@gmail.com

; El nombre del servidor de producción
servername=www.sportyeah.com

; Versión de la aplicación
version=1.0

; El puerto en el que se lanza la aplicación
port=3000


; Servidor de correo smtp
; Configuración para www.dondominio.com
[mail.smtp]

host=smtp.sportyeah.com
port=587
user=admin@sportyeah.com
password=t1DLd.tjg89R
secure=false

; Configuración para las vistas
; Selecciona el motor de plantillas y su configuración
[views]

engine=hbs

; Configuración del motor de plantillas handlebars
; @link https://handlebarsjs.com/
[views.hbs]

; Carpeta que contiene las vistas
folder=views
; Carpeta que contiene las vistas parciales dentro de la carpeta principal de vistas
partials=partials
; El Layout por defecto
defaultLayout=false
; La extensión de los archivos de vistas
extension=html

; Frontend
[frontend.development]
url=http://localhost:8100/
url_admin=http://localhost:4200/

[frontend.production]
url=https://app.sportyeah.com/
url_admin=https://admin.sportyeah.com/


; Configuración de la conexión a Mongo
[mongo.development]

server=localhost
database=sportyeahDB
port=27017

[mongo.production]

server=mongo-db.cluster-clidhjqvcjng.eu-west-3.docdb.amazonaws.com
database=sportyeahDB
port=27017
username=adminmongo
password=JkVTh71DQmP%AA1YFdVP

; Una jsonwebtoken para validar la cuentas de los usuarios y sesiones de usuario
[jwt]

key=clavedeltokensportyeah312

; livescore-api configuration
[livescoreapi]

url=http://livescore-api.com/api-client
key=e2UPzxTbNlVDRqQf
secret=idr9P8mlIRqCIF3WIYMivFtj1pXSPN88

; google maps
[googleMaps]
baseURL=https://maps.googleapis.com/maps/api/staticmap?
; apiKey=AIzaSyAWaZr_M7fZdjgN6CW8kxwbB4d_OIuypLk
apiKey=AIzaSyDNTIMywUOxKdBhQalq3lDDIpYm_DEUYcw
secret=JzTheKpM9Om5Kg_6CQX0ws2X72Q