<div style="margin-top:1rem;width: 100%;text-align:center !important;">
  <a href="{{link}}" style="font-size: 18px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                background: #2a4c78;
                color: white;
                border-radius: 20px;
                cursor: pointer;                         
                border: 1px solid transparent;">Ir a SportYeah</a>
</div>