{{> header}}

    <h1>Atención al cliente</h1>

    <p>
        Saludos cordiales, el ciudadano Sr/a <span style="font-weight: 600;">{{name}}</span> <span style="font-weight: 600;">{{last_name}}</span> se a comunicado con nuestro departamento de atención de SportYeah, para solicitar nuestra valiosa colaboración y apoyo en: </p>
    <p>
        {{message}}
    </p>
    <p>
        solicitud emitada para dar respuesta a través del correo <span style="font-weight: 600;">{{email}}</span>
    </p>
    
{{>footer}}

