<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <div style="width: 100% !important;">
    <div
      style="min-width: 600px !important;max-width: 600px !important; height: 500px !important; margin: auto; padding:20px ;">
      <div style="width: 100%; height:80px;background:  #FFFFFF !important;">
        <div style="height: 100%;display: flex;align-items: center !important;place-content: center !important;">
          <span style="color: white;font-size: 25px;font-weight: 600;align-self: center;margin: auto;">
            <img style="margin-left:43%; width:15%" src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png" alt="SportYeah" width="250px"
              style="vertical-align: middle !important;">
          </span>
        </div>
      </div>
      <br>
