<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="background: white;padding:10px">
  <div style="width: 100% !important;">
    <div style="
    box-shadow: 0 0 8px 0px #385d88 !important;
    -webkit-box-shadow: 0 0 8px 0px #385d88 !important;
    min-width: 600px!important;
    max-width: 600px!important;
    min-height: 500px!important;
    margin: auto;
        border: solid 2px #385d88 !important;
    padding: 20px;
    border-radius: 10px;">
      <div>
        <div style="text-align: center;">
          <span>
            <img style=" width:200px" src="https://i.ibb.co/9b70yzP/imagotipo-azul.png" alt="SportYeah" width="200px"
              style="vertical-align: middle !important;">
          </span>
        </div>
      </div>
      <br>