{{> header}}

<h1>Nuevo usuario</h1>

<p>
    
    El usuario <span style="font-weight: 600;">{{name}}</span> <span style="font-weight: 600;">{{last_name}}</span>, Se ha unido a SportYeah!!.
</p>
<p>
    con el correo <span style="font-weight: 600;">{{email}}</span>.
</p>
          
   <div style="margin-top:5rem;width: 100%;text-align:center !important;">
            <a href="{{link}}" style="font-size: 14px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background: #006400;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;">Ir a SportYeah</a>
         </div>
{{>footer}}
