{{> header}}

<h1>Atención al cliente</h1>

<p>
    Saludos, Sr@ <span style="font-weight: 600;">{{name}}</span> <span style="font-weight: 600;">{{last_name}}</span>, gracias por comunicarse con nosotros, nuestro departamento de atención en SportYeah, muy pronto le sera grato entrar en contacto con su persona, esperando dar, la mejor y oportuna respuesta a su comunicación.
</p>
<p>
    Su requerimiento emitido es el siguiente.
</p>
<p>
    {{message}}
</p>
          
{{>footer}}



