{{> header}}
  
  <h1>Customer Support</h1>

  <p>
    Greetings, Mr / Mrs <span style="font-weight: 600;">{{name}}</span> <span style="font-weight: 600;">{{last_name}}</span>, thank you for communicating with us, our service department in SportYeah, very soon it will be a pleasure to contact you, hoping to give the best and timely response to your communication.
  </p>
  <p>
      Its issued requirement is as follows.
  </p>
  <p>
    {{message}}
  </p>
          

  {{>footer}}

