<!DOCTYPE html>
<html lang="es">
    <head></head>

    <body>

        <div style="width: 100% !important;">
            
            <div style="min-width: 600px !important;max-width: 600px !important; height: 500px !important; margin: auto; padding:20px ;">
                <div style="width: 100%; height:80px;background:  #FFFFFF !important;">
                    <div style="height: 100%;display: flex;align-items: center !important;place-content: center !important;">
                        <span style="color: white;font-size: 25px;font-weight: 600;align-self: center;margin: auto;"> 
                            <img
                                src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
                                alt="SportYeah"
                                width="200px"
                                style="vertical-align: middle !important;"> 
                        </span>
                    </div>
                </div>
            </div>

            <br>
            <h1>Nuevo usuario</h1>

            <p>
                El usuario <span style="font-weight: 600;">{{ name }}</span> <span style="font-weight: 600;">{{ lastname }}</span>, Se ha unido a SportYeah!!.
            </p>
            <p>
                con el correo <span style="font-weight: 600;">{{ email }}</span>.
            </p>
          
   <div style="margin-top:5rem;width: 100%;text-align:center !important;">
            <a href="{{ link }}" style="font-size: 14px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background: #006400;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;">Ir a SportYeah</a>
         </div>
        </div>
    </div>
</body>
</html>


